@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source "../../node_modules/flowbite";
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-sans-C: 'Crimson Text', sans-serif;
    --color-fg-brand-subtle: #F0C9A3;
    --color-fg-brand: #704214;
    --color-fg-brand-strong: #000000;

    --color-brand-softer: #F0C9A3;
    --color-brand-soft: #F0C9A3;
    --color-brand: #704214;
    --color-brand-medium: #704214;
    --color-brand-strong: #000000;
}
